.Navbar{
    margin: auto;
    padding: 40px;
    background-color: rgb(3, 73, 3);
    text-align: right;
   
}
.one{
    margin: auto;
    padding: 30px;
    color: white;
}
.two{
    margin: auto;
    padding: 30px;
    color: white;
}
.three{
    margin: auto;
    padding: 30px;
    color: white;
}